@charset "UTF-8";

@import 
url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.main_div_all{
	margin:auto;
	width:100%;
	height:100%;
	background-color: rgb(53, 52, 67);
	display:table;
}

.main_div_all h1{
	font-size:30px;
}

.main_div_all h2{
	font-size:20px;
}

.main_div_left{
	color:white;
	width:40%;
	height:300px;
	float:left;
	text-align:left;
}

.main_div_center_1{
	width:15%;
	height:300px;
	float:left;
	color:white;
}

.main_div_center_1 span{
	margin-left:50px;
	
}

.main_div_center_2{
	width:15%;
	height:300px;
	float:left;
	color:white;
}

.main_div_center_2 span{
 	margin-left:10px;
}

.main_div_right{
	width:15%;
	height:300px;
	float:right;
	color:white;
}

.main_div_right span{
	margin-left:-305px;
}

.main-footer-hr{
	display: table;
	width: 70%;
	margin: 0 auto;
}

.main-bar-right{
   float : right;
   padding-right :14.5%;
   display:inline-block;
}

.main-bar-right span{
	margin-right:15px;
}

.main-footer_logo{
    width: 40px;
    height: 40px;
    margin: 10px 0 50px 0;
}
