.promotion-wrapper{
	min-height: 800px;	
}

.promotion-title{
    margin: 80px 10% 10px;
    font-weight: bold;
    font-size: 36px;
}

.promotion-title-desc{
	margin : 0 10% 50px;
}

.promotion-table{
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    vertical-align: middle;
    margin: 0 10% 10%;
    text-align: center;
    width: 80%;
}
	
.promotion-name{
	text-decoration: none;
	color: #000;	
}

.promotion-table > tbody > tr:first-child{
	background-color: rgb(26, 188, 156);
	color : white;		
}

.promotion-table > tbody > tr > td{
	height:30px;
	vertical-align:middle;
}

.promotion-table > tbody > tr > td:nth-child(1), .promotion-table > tbody > th > td:nth-child(1){
	width:200px;
}

.promotion-table > tbody > tr > td:nth-child(2), .promotion-table > tbody > th > td:nth-child(2){
	width:200px;
}

.promotion-table > tbody > tr > td:nth-child(3), .promotion-table > tbody > th > td:nth-child(3){
	width:400px;
}

.promotion-table > tbody > tr > td:nth-child(4), .promotion-table > tbody > th > td:nth-child(4){
	width:150px;
}

.promotion-table > tbody > tr > td:nth-child(5), .promotion-table > tbody > th > td:nth-child(5){
	width:150px;
}

.promotion-table > tbody > tr > td:nth-child(6), .promotion-table > tbody > th > td:nth-child(6){
	width:150px;
}

.promotion-table > tbody > tr > td:nth-child(7), .promotion-table > tbody > th > td:nth-child(7){
	width:150px;
}