/* header */

.container{
   display:flex;
   flex-direction: column;
   justify-content: center;
}

.header{
   
}

.content{
   display:flex;
}

.left-content{
   flex : 25%;
   flex-grow: 9;
}

.center-content{
   flex : 35%;
   flex-grow: 8; 
}

.right-content{
   flex : 25%;
   flex-grow: 2;
}

.footer{
     margin-top: auto;
     padding-top: 30px;
}

