
/* header, top-bar */

.logo{
	width:50px;
	height:30px;
}

.top-bar-right a{
	background-color : rgb(26, 188, 156);
	color:white;
}


.top-bar{
   background-color : rgb(26, 188, 156);
   position: relative;
   width : 72.5%;
   height : 60px;
   display : inline-block;
   z-index : 10;
   margin-left:261px;
}
.top-bar div{
   display : inline-block;
   color : white;
   font-weight : bold;
   line-height : 60px;
}

.top-bar-left{
   font-size : 24px;
   padding-left : 10%;
   cursor : pointer; 
  
}

.top-bar-left a{
   background-color: rgb(26, 188, 156);
   color: white;  
   text-decoration:none;
}

.top-bar-right{
   float : right;
   padding-right : 10%;
}
.top-bar-right p{
   display : inline-block;
   padding-right : 10px;   
}

.top-bar-right div{
   cursor : pointer;
}