
/* header, top-bar */

.top-bar{
	background-color : rgb(26, 188, 156);
	position: fixed;
	width : 100%;
	height : 60px;
	display : inline-block;
	z-index : 10;
}
.top-bar div{
	display : inline-block;
	color : white;
	font-weight : bold;
	line-height : 60px;
}

.top-bar-left{
	font-size: 1.2rem;
	padding-left : 10%;
	cursor : pointer;	
}

.top-bar-right{
	float : right;
	padding-right : 10%;
}
.top-bar-right p{
	display : inline-block;
	padding-right : 10px;	
}

.top-bar-right div{
	cursor : pointer;
}

.top-bar label {
	margin-left: 35px;
} 

/*  */

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
	
}
#cate-img {
	margin-top: 5px;
}

#menu1 {
	height: 50px;
	position: fixed;
	text-align: left;
}

#menu1 ul {
	width: 600px;
	margin: 0 auto;
	position: relative; 
}

#menu1 .main>li {
	float: left;
	width: 20px;
	line-height: 50px;
	text-align: center;
	background: #98EOAD;
}

#menu1 .main>li:hover .menu2 {
	display: block;
}

#menu1 .main>li a {
	display: block;
}

#menu1 .main>li a:hover { 
	color: #000;
}

#menu1 .menu2 {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	display: none;
}

#menu1 .sub {
	float: left;
	width: 25%;
}

#menu1 .sub li {
	background: #1abc9c;
}

#menu1 .sub li a:hover {
	background: #1abc9c;
}